<!doctype html>
<html>
<head>
  <title>The Parking App</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/custom.css">
</head>
<body>
	<div class="container">
		<h3>The Parking App</h3>
  		<div class="container">
	  		{{{body}}}
  		</div>
  	</div>
  	<br><br><br><br><br><br>
</body>
</html>