<div class="jumbotron">
  <div class="container text-center">
    <br><br><br>
    <h1>404 Error</h1>      
    <p>Sorry, that page doesn't exist.</p>
    
  </div>
</div>

<div class="container">
  <h3 class="text-center">Redirecting to the home page...</h3>    
  <br><br><br><br><br><br><br><br>
</div>

<script>
  setTimeout(function(){ window.location = "/"; }, 4000);
</script>