<!doctype html>
<html>
<head>
  <title>Parking Map Demo</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <style>
  	#map {
    	height: 400px;
    	width: 100%;
  	}
  	.hide {
  		overflow: hidden;
  	}
  </style>
</head>
<body>
<div class="jumbotron">
  <div class="container text-center">
    <br><br><br>
    <h1>505 Error</h1>      
    <p>Sorry, there's a problem on the server.</p>
    
  </div>
</div>

<div class="container">
  <h3 class="text-center">Redirecting to the home page...</h3>    
  <br><br><br><br><br><br><br><br>
</div>

<script>
  setTimeout(function(){ window.location = "/"; }, 4000);
</script>
</body>
</html>