<!doctype html>
<html>
<head>
  <title>The Parking App</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <style>
  	#map {
    	height: 400px;
    	width: 100%;
  	}
  	.hide {
  		overflow: hidden;
  	}
  </style>
</head>
<body>
  <div class="container">
	<h3>The Parking App</h3>
  	<div id="map" height="460px" width="100%"></div>
	
  	<div class="hide">
		<div id="form">
	      	<table>
	      	<tr><td>Availability:</td> <td><input type='number' id='availability'/> </td> </tr>
	      	<tr><td></td><td><input type='button' value='Submit' onclick='submitData()'/></td></tr>
	      	</table>
		</div>
		<div id="message">Thanks!</div>
    <div id="errormessage">Oops! Something went wrong.</div>
	</div>
    <script>
      var lattitude = 37.774929;
      var longitude = -122.419416;
      var map;
      var marker;
      var infowindow;
      var locationwindow;
      var messagewindow;
      var errorwindow;

      function initMap() {
        var coordinates = {};
        coordinates.lat = lattitude;
        coordinates.lng = longitude;

        map = new google.maps.Map(document.getElementById('map'), {
          center: coordinates,
          zoom: 14
        });

        infowindow = new google.maps.InfoWindow({
          content: document.getElementById('form')
        });

        messagewindow = new google.maps.InfoWindow({
          content: document.getElementById('message')
        });

        errorwindow = new google.maps.InfoWindow({
          content: document.getElementById('errormessage')
        });

        google.maps.event.addListener(map, 'click', function(event) {
          marker = new google.maps.Marker({
            position: event.latLng,
            map: map
          });

          infowindow.open(map, marker);
        });

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            locationwindow.setPosition(pos);
            locationwindow.setContent('Location found.');
            locationwindow.open(map);
            map.setCenter(pos);
          }, function() {
              handleLocationError(true, locationwindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, locationwindow, map.getCenter());
        }
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }

      function submitData() {
        var availability = escape(document.getElementById('availability').value);
        var latlng = marker.getPosition();
        var lat = latlng.lat()
        var lng = latlng.lng()

		    var request = new XMLHttpRequest();
        var payload = {location_lat: lat, location_lon: lng, location_availability: availability};
        request.open('POST', '/location', true);
        request.setRequestHeader('Content-Type', 'application/json'); 
        request.addEventListener('load',function(){
            if(request.status >= 200 && request.status < 400){
                var response = JSON.parse(request.responseText);
                console.log(response);
                infowindow.close();
                messagewindow.open(map, marker);
            }
            else {
                console.log("Error in network request: " + request.statusText);
                infowindow.close();
                errorwindow.open(map, marker);
            }
        }); 
        request.send(JSON.stringify(payload));
      }
    </script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC--AF8pq1I9ebA-t-VOmW7eNWVqXqckw8&callback=initMap">
    </script>
  </div>
</body>
</html>
