<style>
	#map {
		height: 400px;
		width: 100%;
	}
</style>

<div id="map"></div>

<script>
	var lattitude = 37.774929;
	var longitude = -122.419416;
	var map;
    function initMap() {
		var coordinates = {};
		coordinates.lat = lattitude;
		coordinates.lng = longitude;
		
		map = new google.maps.Map(document.getElementById('map'), {
			zoom: 20,
			center: coordinates
		});
		



	}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC--AF8pq1I9ebA-t-VOmW7eNWVqXqckw8&callback=initMap"></script>
