<style>
	#map {
		height: 400px;
		width: 100%;
	}
</style>

<h3>My Google Maps Demo</h3>
<div id="map"></div>



<script>
	var lattitude = -22.363;
	var longitude = 131.044;
    function initMap() {
		var coordinates = {};
		coordinates.lat = lattitude;
		coordinates.lng = longitude;
		
		var map = new google.maps.Map(document.getElementById('map'), {
			zoom: 8,
			center: coordinates
		});
		var marker = new google.maps.Marker({
			position: coordinates,
			map: map
		});
	}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC--AF8pq1I9ebA-t-VOmW7eNWVqXqckw8&callback=initMap"></script>
