<style>
	#map {
		height: 400px;
		width: 100%;
	}
</style>

<h3>My Google Maps Demo</h3>
<div id="map"></div>



<script>
	var lat	= -22.363;
	var lng = 131.044;
    function initMap() {
		var uluru = {};
		uluru.lat = lat;
		uluru.lng = lng;
		
		var map = new google.maps.Map(document.getElementById('map'), {
			zoom: 4,
			center: uluru
		});
		var marker = new google.maps.Marker({
			position: uluru,
			map: map
		});
	}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC--AF8pq1I9ebA-t-VOmW7eNWVqXqckw8&callback=initMap"></script>
