<style>
	#map {
		height: 400px;
		width: 100%;
	}
</style>

<div id="map"></div>

<div id="table">
	<table>
		<tr><td>Name:</td> <td><input type='text' id='name'/> </td> </tr>
		<tr><td>Address:</td> <td><input type='text' id='address'/> </td> </tr>
		<tr>
			<td>Type:</td> 
			<td>
				<select id='type'> + <option value='bar' SELECTED>bar</option><option value='restaurant'>restaurant</option></select> 
			</td>
		</tr>
        <tr><td></td><td><input type='button' value='Save' onclick='saveData()'/></td></tr>
	</table>
</div>

<div id="message">Location saved</div>



<script>
	var lattitude = 37.774929;
	var longitude = -122.419416;
	var map;
	var marker;
	var infowindow;
	var messagewindow;

    function initMap() {
		var coordinates = {};
		coordinates.lat = lattitude;
		coordinates.lng = longitude;

		infowindow = new google.maps.InfoWindow({
          content: document.getElementById('form')
        });

        messagewindow = new google.maps.InfoWindow({
          content: document.getElementById('message')
        });
		
		map = new google.maps.Map(document.getElementById('map'), {
			zoom: 14,
			center: coordinates
		});
		
		infowindow = new google.maps.InfoWindow({
  			content: document.getElementById('form')
		});

		messagewindow = new google.maps.InfoWindow({
  			content: document.getElementById('message')
		});

		google.maps.event.addListener(map, "click", function(event) {
    		marker = new google.maps.Marker({
      			position: event.latLng,
      			map: map
    		});
		});

		google.maps.event.addListener(marker, "click", function() {
  			infowindow.open(map, marker);
		});
	}
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC--AF8pq1I9ebA-t-VOmW7eNWVqXqckw8&callback=initMap"></script>
