<!doctype html>
<html>
<head>
  <title>Parking Map Demo</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <style>
  	#map {
    	height: 400px;
    	width: 100%;
  	}
  	.hide {
  		overflow: hidden;
  	}
  </style>
</head>
<body>
  <div class="container">
	  <h3>Parking Map Demo</h3>
  	<div id="map" height="460px" width="100%"></div>
    <button class="btn-primary" onclick='useGPS()'>Use My Location</button>
	
  	<div class="hide" id="hide">
		  <div id="form">
	      <table>
	      	<tr><td>Availability:</td> <td><input type='number' id='availability'/> </td> </tr>
	      	<tr><td></td><td><input type='button' value='Submit' onclick='submitData()'/></td></tr>
	      </table>
		  </div>
      <div id="availability_window">Availability</div>
		  <div id="message">Thanks!</div>
      <div id="error_message">Oops! Something went wrong.</div>
	  </div>
    <script src="/js/map_functions.js"></script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC--AF8pq1I9ebA-t-VOmW7eNWVqXqckw8&callback=initMap"></script>
    <h6>Currently figuring out linking markers to their availability from the database. Everything says 12 for now.</h6>
  </div>
</body>
</html>
